<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h1>Subscription</h1>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <% if @current_subscription %>

      <%= t 'subscriptions_page.labels.last_payment_at' %>:
      <%= I18n.l(@current_subscription.last_paid_at, default: '-') %><br />

      <%= t 'subscriptions_page.labels.expiration_date' %>:
      <%= I18n.l(@current_subscription.expiration_date, default: '-') %><br />

      <%= t 'subscriptions_page.labels.next_billing_at' %>:
      <%= I18n.l(@current_subscription.next_billing_at, default: '-') %><br />

      <%= t 'subscriptions_page.labels.canceled_at' %>:
      <%= I18n.l(@current_subscription.canceled_at, default: '-') %><br />

      <%= t 'subscriptions_page.labels.status' %>:
      <%= t "subscriptions_page.statuses.#{@current_subscription.status}" %> -

      <%= link_to t('subscriptions_page.labels.cancel'), subscriptions_path, method: :delete, data: {
          confirm: t('subscriptions_page.labels.sure')
        } %>
        <br />

      <%= t 'subscriptions_page.labels.payment_status' %>:
      <%= t "subscriptions_page.payment_statuses.#{@current_subscription.payment_status}" %><br />
      <br /><br />

      <h3><%= t 'subscriptions_page.labels.plan_data' %></h3>

      <%= t 'subscriptions_page.labels.plan_name' %>:
      <%= @current_subscription.plan.name %><br />

      <%= t 'subscriptions_page.labels.monthly_value' %>
      <%= number_to_currency(@current_subscription.plan.regular_price, unit: 'R$') %><br />

      <%= t 'subscriptions_page.labels.regular_classes_per_week' %>
      <%= @current_subscription.plan.regular_classes_per_week %><br />

      <%= t 'subscriptions_page.labels.private_lessons_per_month' %>
      <%= @current_subscription.plan.private_lessons_per_month %><br />
    <% else %>
      No subscription
    <% end %>
  </div>
</div>
